*{
    margin: 0;
    padding: 0;
}

.card{
    margin: 100px;
    margin-left: 3px;
    margin-top: 3px;
    padding: 10px;
    width: 100px;
    height: 700px;
    border: 1px grey solid;
    border-radius: 20px;
    background-color: grey;
}

.logo{
    display: inline-block
}

.left-side{
    float: left;
}

.href {
    text-decoration: none;
    padding-left: 16px;
}

.unterüberschrieft {
    font-weight: bold;
}

body {
    background-color: rgb(180, 179, 179);
}

#menü {
    padding-top: 20px;
}

.href :hover {
    text-decoration: underline;
}